In [26]:
import pandas as pd
import numpy as np

data = pd.read_csv(r"C:\Python\Analytics-Vidhya-Loan-Prediction\dataset\train_ctrUa4K.csv")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [27]:
data.drop(columns = ['Loan_ID'], inplace=True)
data.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [28]:
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [29]:
data.drop(columns = ['Gender','Married','CoapplicantIncome'], inplace = True)

In [30]:
data

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,Graduate,No,5849,NaN,360.0,1.0,Urban,Y
1,1,Graduate,No,4583,128.0,360.0,1.0,Rural,N
2,0,Graduate,Yes,3000,66.0,360.0,1.0,Urban,Y
3,0,Not Graduate,No,2583,120.0,360.0,1.0,Urban,Y
4,0,Graduate,No,6000,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...
609,0,Graduate,No,2900,71.0,360.0,1.0,Rural,Y
610,3+,Graduate,No,4106,40.0,180.0,1.0,Rural,Y
611,1,Graduate,No,8072,253.0,360.0,1.0,Urban,Y
612,2,Graduate,No,7583,187.0,360.0,1.0,Urban,Y
613,0,Graduate,Yes,4583,133.0,360.0,0.0,Semiurban,N

In [31]:
data.isnull().sum()

Dependents          15
Education            0
Self_Employed       32
ApplicantIncome      0
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
Property_Area        0
Loan_Status          0
dtype: int64

In [32]:
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mean())
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean())
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [33]:
data.isnull().sum()

Dependents          0
Education           0
Self_Employed       0
ApplicantIncome     0
LoanAmount          0
Loan_Amount_Term    0
Credit_History      0
Property_Area       0
Loan_Status         0
dtype: int64

In [34]:
data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [35]:
data['Education'] = data['Education'].replace(['Graduate', 'Not Graduate'],[1,0])

In [36]:
data.Self_Employed.unique()

array(['No', 'Yes'], dtype=object)

In [37]:
data.Self_Employed = data.Self_Employed.replace(['No', 'Yes'],[0,1])

In [38]:
data.Dependents.unique()

array(['0', '1', '2', '3+'], dtype=object)

In [39]:
data.Dependents = data.Dependents.replace(['0','1','2','3+'],[0,1,2,4])

In [40]:
data.Loan_Status.unique()

array(['Y', 'N'], dtype=object)

In [41]:
data.Loan_Status = data.Loan_Status.replace(['Y', 'N'],[1,0])

In [42]:
data.Property_Area.unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [43]:
data.Property_Area = data.Property_Area.replace(['Rural','Semiurban','Urban'],[0,1,2])

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train = data.drop(columns=['Loan_Status'])
Y_train = data['Loan_Status']

In [46]:
X_train

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,5849,146.412162,360.0,1.0,2
1,1,1,0,4583,128.000000,360.0,1.0,0
2,0,1,1,3000,66.000000,360.0,1.0,2
3,0,0,0,2583,120.000000,360.0,1.0,2
4,0,1,0,6000,141.000000,360.0,1.0,2
...,...,...,...,...,...,...,...,...
609,0,1,0,2900,71.000000,360.0,1.0,0
610,4,1,0,4106,40.000000,180.0,1.0,0
611,1,1,0,8072,253.000000,360.0,1.0,2
612,2,1,0,7583,187.000000,360.0,1.0,2
613,0,1,1,4583,133.000000,360.0,0.0,1

In [47]:
Y_train

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

# Cleaning test dataset

In [48]:
test = pd.read_csv(r"C:\Python\Analytics-Vidhya-Loan-Prediction\dataset\test_lAUu6dG.csv")
test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [49]:
test.drop(columns = ['Gender','Married','CoapplicantIncome'], inplace = True)

In [50]:
test.isnull().sum()

Loan_ID              0
Dependents          10
Education            0
Self_Employed       23
ApplicantIncome      0
LoanAmount           5
Loan_Amount_Term     6
Credit_History      29
Property_Area        0
dtype: int64

In [51]:
test['Dependents'] = test['Dependents'].fillna(test['Dependents'].mode()[0])
test['Self_Employed'] = test['Self_Employed'].fillna(test['Self_Employed'].mode()[0])
test['LoanAmount'] = test['LoanAmount'].fillna(test['LoanAmount'].mean())
test['Loan_Amount_Term'] = test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mean())
test['Credit_History'] = test['Credit_History'].fillna(test['Credit_History'].mode()[0])

In [52]:
test.isnull().sum()

Loan_ID             0
Dependents          0
Education           0
Self_Employed       0
ApplicantIncome     0
LoanAmount          0
Loan_Amount_Term    0
Credit_History      0
Property_Area       0
dtype: int64

In [53]:
test

,Loan_ID,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,0,Graduate,No,5720,110.0,360.0,1.0,Urban
1,LP001022,1,Graduate,No,3076,126.0,360.0,1.0,Urban
2,LP001031,2,Graduate,No,5000,208.0,360.0,1.0,Urban
3,LP001035,2,Graduate,No,2340,100.0,360.0,1.0,Urban
4,LP001051,0,Not Graduate,No,3276,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...
362,LP002971,3+,Not Graduate,Yes,4009,113.0,360.0,1.0,Urban
363,LP002975,0,Graduate,No,4158,115.0,360.0,1.0,Urban
364,LP002980,0,Graduate,No,3250,126.0,360.0,1.0,Semiurban
365,LP002986,0,Graduate,No,5000,158.0,360.0,1.0,Rural
366,LP002989,0,Graduate,Yes,9200,98.0,180.0,1.0,Rural

In [54]:
test['Education'] = test['Education'].replace(['Graduate', 'Not Graduate'],[1,0])

In [55]:
test.Self_Employed = test.Self_Employed.replace(['No', 'Yes'],[0,1])

In [56]:
test.Dependents = test.Dependents.replace(['0','1','2','3+'],[0,1,2,4])

In [57]:
test.Property_Area = test.Property_Area.replace(['Rural','Semiurban','Urban'],[0,1,2])

In [58]:
test

,Loan_ID,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,0,1,0,5720,110.0,360.0,1.0,2
1,LP001022,1,1,0,3076,126.0,360.0,1.0,2
2,LP001031,2,1,0,5000,208.0,360.0,1.0,2
3,LP001035,2,1,0,2340,100.0,360.0,1.0,2
4,LP001051,0,0,0,3276,78.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...
362,LP002971,4,0,1,4009,113.0,360.0,1.0,2
363,LP002975,0,1,0,4158,115.0,360.0,1.0,2
364,LP002980,0,1,0,3250,126.0,360.0,1.0,1
365,LP002986,0,1,0,5000,158.0,360.0,1.0,0
366,LP002989,0,1,1,9200,98.0,180.0,1.0,0

In [59]:
test = test.iloc[:,1:9]
test

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,1,0,5720,110.0,360.0,1.0,2
1,1,1,0,3076,126.0,360.0,1.0,2
2,2,1,0,5000,208.0,360.0,1.0,2
3,2,1,0,2340,100.0,360.0,1.0,2
4,0,0,0,3276,78.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...
362,4,0,1,4009,113.0,360.0,1.0,2
363,0,1,0,4158,115.0,360.0,1.0,2
364,0,1,0,3250,126.0,360.0,1.0,1
365,0,1,0,5000,158.0,360.0,1.0,0
366,0,1,1,9200,98.0,180.0,1.0,0

# Fitting Decision Tree Model to the training set

In [75]:
#Fitting Decision Tree Model to the training set 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
model1 = DecisionTreeClassifier(max_depth=None,random_state=40)
model1.fit(X_train,Y_train)

DecisionTreeClassifier(random_state=40)

In [76]:
#Predicting the test set result
y_pred = model1.predict(test)

In [79]:
y_pred

array([0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [85]:
y_pred.shape

(367,)

In [81]:
model2 = KNeighborsClassifier(n_neighbors=5)

model2.fit( X_train , Y_train)

z_pred = model2.predict(test)

In [83]:
z_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [82]:
z_pred.shape

(367,)

In [86]:
from sklearn.linear_model import LogisticRegression
model3 = LogisticRegression()
model3.fit(X_train,Y_train)

LogisticRegression()

In [87]:
x_pred = model3.predict(test)

In [88]:
x_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [117]:
model1.score(X_train,Y_train)

1.0

In [118]:
model2.score(X_train,Y_train)

0.741042345276873

In [141]:
model3.score(X_train,Y_train)

0.8078175895765473

In [143]:
model.score(x_test_scaled, y_test)

0.7662337662337663

In [147]:
test = pd.read_csv(r"C:\Python\Analytics-Vidhya-Loan-Prediction\dataset\test_lAUu6dG.csv")

submision =  test.iloc[:,0:1]
submision

      Loan_ID
0    LP001015
1    LP001022
2    LP001031
3    LP001035
4    LP001051
..        ...
362  LP002971
363  LP002975
364  LP002980
365  LP002986
366  LP002989

[367 rows x 1 columns]

In [150]:
submision['Loan_Status'] = w_pred
submision

      Loan_ID  Loan_Status
0    LP001015     0.766234
1    LP001022     0.766234
2    LP001031     0.766234
3    LP001035     0.766234
4    LP001051     0.766234
..        ...          ...
362  LP002971     0.766234
363  LP002975     0.766234
364  LP002980     0.766234
365  LP002986     0.766234
366  LP002989     0.766234

[367 rows x 2 columns]

In [138]:
submision['Loan_Status'] = submision['Loan_Status'].replace({0: 'N', 1: 'Y'})

In [139]:
submision.to_csv('submission_x.csv',index=False)

# ----------------------------------------------------------------

In [154]:
x_train,x_test,y_train,y_test = train_test_split(X_train,Y_train)

In [155]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((460, 8), (154, 8), (460,), (154,))

In [156]:
from sklearn.preprocessing import StandardScaler

In [157]:
scaler = StandardScaler()

In [158]:
x_train_scaled = scaler.fit_transform(x_train)

In [159]:
x_test_scaled = scaler.transform(x_test)

In [160]:
from sklearn.linear_model import LogisticRegression

In [161]:
model = LogisticRegression()

In [162]:
model.fit(x_train_scaled, y_train)

LogisticRegression()

In [163]:
model.score(x_test_scaled, y_test)

0.8051948051948052

In [164]:
pred_data = scaler.transform(test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- CoapplicantIncome
- Gender
- Loan_ID
- Married

In [151]:
model.predict(test)

c:\Python\Analytics-Vidhya-Loan-Prediction\venv\lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

ValueError: could not convert string to float: 'LP001015'

# Saving Model To Pickle File

In [ ]:
import pickle as pk

In [ ]:
pk.dump(model, open('model.pkl','wb'))

In [ ]:
pk.dump(scaler,open('scaler.pkl','wb'))